/*
FILE NAME: about.css
WRITTEN BY:  Nils Ulvund
WHEN:  November 2016
PURPOSE:  styling document for the about page
*/

#menu-bar > ul > li:nth-child(2){
  background-color: #374140;
}

#memberContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

#memberContainer>div {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

#memberContainer>div>img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#head_img{
    width: 100%;
}
.textbox {
  width: 190px;
  margin-left: -25px;
  margin-right: -25px;
  background-color: #1E1E20;
  color: #D9CB9E;
  padding: 5px;
  text-align: center;
  display: none;
  border-radius: 7px;
}
