#imgContainer{
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
#imgContainer>img{
  margin: auto;
  width: 300px;
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.67);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  max-width: 1200px;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #D9CB9E;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #DC3522 ;
  background-color: rgba(0, 0, 0, 0.8);
}
