
.blog {
  text-align: left;
  background: #D9CB9E;
}

.archive {
  background: #2A2C2B;
  width: 15%;
  padding: 10px;
}

#blogpost {
	padding: 10px;
	min-height: 200px;
  position: relative;
}

#blogpost > p {
  font-size: 16px;
  max-width: 70% ;
}

#blogpost > #date {
  opacity: 0.5;
  position: absolute;
  bottom: 0px ;
}

#blogpost > img {
  max-height: 90% ;
  max-width: 27% ;
  position: absolute;
  right: 1% ;
  top: 5% ;
}

@media all and (min-width:550px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width:800px) {
  .blog {
    flex: 3 0px;
    order: 1;
  }
  .archive {
    order: 2;
  }
  .footer {
    order: 3;
  }
}
