#menu-bar > ul > li:nth-child(8){
  background-color: #D9CB9E;
}

.blog {
  text-align: left;
  background: #D9CB9E;
}

#blogpost {
	min-height: 200px;
  position: relative;
}

#blogpost > p {
  font-size: 16px;
  max-width: 70% ;
}

#blogpost > #date {
  opacity: 0.5;
  position: absolute;
  bottom: 0px ;
}

#blogpost > img {
  max-height: 90% ;
  max-width: 27% ;
  position: absolute;
  padding-right: inherit;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

@media all and (min-width:550px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width:800px) {
  .blog {
    flex: 3 0px;
    order: 1;
  }
  .archive {
    order: 2;
  }
  .footer {
    order: 3;
  }
}
