#events_container {
}

#events_table {
    table-layout: fixed;
    width: 100%;
    color: #D9CB9E;
}

#events_table tr {
    width: 100%;
}

#events_table td:nth-child(1), th:nth-child(1) {
    width: 30%;
}

#events_table td:nth-child(2), th:nth-child(2) {
    width: 50%;
}

#events_table td:nth-child(3), th:nth-child(3) {
    width: 20%;
}

#events_table th {
    height: 50px;
    text-align: left;
    font-size: larger;
}

#events_table td {
    height: 50px;
    font-size: large;
}