#menu-bar > ul > li:nth-child(1){
  background-color: #374140;
  padding:30px;
}

#menu-bar > ul{
  padding:30px;
  padding-bottom:0;
}

#memberContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

#memberContainer>div {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

#memberContainer>div>img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#eventWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#eventWrapper>div {
  margin: auto;
}

#photoWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#photoWrapper>img {
  width: 200px;
  margin: auto;
  padding: 20px;
}

#videoWrapper{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#videoWrapper>iframe{
	margin: auto;
}

.textbox {
  width: 190px;
  margin-left: -25px;
  margin-right: -25px;
  background-color: #1E1E20;
  color: #D9CB9E;
  padding: 5px;
  text-align: center;
  display: none;
  border-radius: 7px;
}
/*Remove underline from headers with links*/
h1>a{
  text-decoration: none;
}
/*align text to the right*/
.align-right{
  text-align: right;
}
