#memberContainer {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#memberContainer>div {
  padding: 20px;
  margin: auto;
  text-align: center;
}

#memberContainer>div>img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#eventWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#eventWrapper>div {
  margin: auto;
}

#photoWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#photoWrapper>img {
  width: 200px;
  margin: auto;
  padding: 20px;
}

#videoWrapper{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#videoWrapper>iframe{
	margin: auto;
}

.textbox {
  width: 160%;
  margin-left: -33%;
  background-color: #DC3522;
  color: #D9CB9E;
  padding: 5px;
  text-align: center;
  display: none;
}