/*
FILE NAME: lightbox.css
WRITTEN BY:  Henry S. Sjøen
WHEN:  November 2016
PURPOSE:  styling for the lightbox script
*/

#lightbox{
	visibility: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	z-index: 3; /* menu bar has z-index 2 */
	background-color: hsla(0, 0%, 0%, 0.67);

	display: flex;
	align-items: center;
}
#lightboxContent{
	margin: auto;
	display: flex;
	align-items: center;
}

#lightboxContent>img{
	margin: auto;
	width: 90%;
}
