body {
    min-width: 10px;
}

#merch_container {
    display: flex;
    width: 800px;
    min-height: 0px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-flow: row wrap;
}

.merch_product {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: lightcoral;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
}

.merch_product h2 {
    position: absolute;
    width: 90%;
    text-align: center;
    max-height: 50px;
    margin: 10px 10px 0px;
}

.merch_product img {
    position: absolute;
    max-height: 120px;
    top: 60px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.merch_product p {
    position: absolute;
    bottom: 0px;
    margin: 0px 10px 10px;
}

@media all and (max-width: 800px) {
    #merch_container {
        width: 100%;
    }
}

#merch_contact {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #efefef;
    overflow: hidden;
}