img {
  width: 300px;
  padding: 10px;
}

h3 {
  text-align: center;
}

#albumContainer > a {
  text-decoration: none;
}

h3:hover, a:hover {
  color: black ;
}

#albumContainer {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#albumContainer>div {
  padding: 20px;
  margin: auto;
  text-align: center;
}

#albumContainer>div>img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
