.wrapper {
  width: 960px;
  margin: auto;
  font-family: Helvetica, Georgia, Verdana, "Geneva", Georgia, Arial, "Times New Roman", Courier;
  max-width: 75ch;
  line-height: 1.5;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 2px dashed;
  background-color: white;
  position: relative;
}

body {
  background-color: darkgrey;
  min-width: 960px;
}

#logo {
  width: 200px;
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 5;
}

#daniel {
  max-width: 100px;
  position: absolute;
  right: 200px;
  top: 100px;
  z-index: 3;
}

#henry {
  max-width: 100px;
  position: absolute;
  right: 159px;
  top: 20px;
  z-index: 2;
}

#magnus {
  max-width: 78px;
  position: absolute;
  right: 91px;
  top: 3px;
  z-index: 4;
}

#nils {
  max-width: 140px;
  position: absolute;
  right: 96px;
  top: 32px;
  z-index: 1;
}

#palett{
  max-width: 300px;
}

h2 {
  margin-top: 40px;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nobullet li {
  list-style-type: none;
}

td, th {
  border: 1px solid;
  padding: 4px 10px 4px 4px;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: lightgrey;
}

td[colspan = "2"], td[colspan = "4"] {
  background-color: #efefef;
}