<header class="header">
  <h1>HAM</h1>
  <img src="/img/logo.png" alt="" />
  <h1>CRATE</h1>
</header>
<nav id="menu-bar">
  <ul>
    <li><a href="/index.html">HOME</a></li>
    <li><a href="/pages/about.html">ABOUT US</a></li>
    <li><a href="/pages/events.html">UPCOMING EVENTS</a></li>
    <li><a href="/pages/music.html">MUSIC</a></li>
    <li><a href="/pages/videos.html">VIDEOS</a></li>
    <li><a href="/pages/photos.html">PHOTOS</a></li>
    <li><a href="/pages/merchandise.html">MERCHANDISE</a></li>
    <li><a href="/pages/blog.html">BLOG</a></li>
  </ul>
</nav>
<div id="menu-bar-replacement"></div>